In [1]:
# Toplulaştırma ve Gruplama

# DataFrame nin En Onemli Konularindan Birisiymis

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns # Bu Kutuphane Su Anda Kullanilmiyo ( Bu Code de ) Ama Ekledim

In [3]:
df = pd.read_csv("../input/seaborn-practice/planets.csv")

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [6]:
df.shape

(1035, 6)

Basit toplulaştırma fonksiyonları:

* count()
* first()
* last()
* mean()
* median()
* min()
* max()
* std()
* var()
* sum()

In [7]:
df.mean() # Butun Degiskenlerin Ortalama Degerlerini Verir

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [8]:
df["mass"].mean() # Belirli Bir Degiskende Ortalama Alma

2.6381605847953216

In [9]:
df["mass"].count()

513

In [10]:
df["mass"].min()

0.0036

In [11]:
df["mass"].max()

25.0

In [12]:
df["mass"].sum() # Degiskenlerin Degerlerini "TOPLA"

1353.37638

In [13]:
df["mass"].std() # Standart Sapma

3.8186166509616046

In [14]:
df["mass"].var() # Varyansi

14.58183312700122

In [15]:
# !! Soo Important

df.describe() # Butun Istatistikleri Bir Kere De Gorebiliyoruz

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [16]:
df.describe().T # Bu Gosterimin Transpozunu Aldik ( Tersini Aldik )

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [17]:
df.dropna().describe().T #   dropna()  Ifadesi Dataset'teki Eksik Ifadeleri Islemlere Dahil Etmez ( Usttekine Gore Degerler degisti yani Eksik Degerler Varmis )

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

In [18]:
df_1 = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'veri': [10,11,52,23,43,55]}, columns=['gruplar', 'veri'])
df_1

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [19]:
df_1.groupby("gruplar") # Nesne Olusturuldu

In [20]:
df_1.groupby("gruplar").mean() # Gruplarin Ortalamasini Aldik

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [21]:
df_1.groupby("gruplar").sum()

         veri
gruplar
A          33
B          54
C         107

In [22]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [23]:
df.groupby("method") # Bu Haliyle Gruplandi

In [24]:
df.groupby("method")["orbital_period"] # Bu Haliyle Gruplandiktan Sonra Degiskeni De Sectik

In [25]:
df.groupby("method")["orbital_period"].mean() # Bu Haliyle Gruplandiktan Sonra Degiskeni De Sectik Ve Ortalamasini Aldik

# Bu Arada Birden Cok Sinif Olsaydi Onlar Asagida Ayri Ayri Gozukecekti

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [26]:
# Farkli Bir Degiskende Deneyelim

df.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [27]:
df.groupby("method")["orbital_period"].describe() # Butun Istatiksel Degerleri Gosterir

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

In [28]:
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [29]:
df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

In [30]:
 # Kendimizin Yazdigi Bir Istatistik Uygulamak Istersek ( Kendimiz Teker Teker Girmek Istersek Kullaniriz ) ( Bu Ifade Tum Degiskenlere Uygulanir )

df.groupby("gruplar").aggregate([min, np.median, max]) # Bu Ifade "aggregate" Fonksiyonunun Icerisinde Liste Ifadeleri Ile Tutulur

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10   16.0  22       100  181.0  262
B              11   17.0  23       111  182.0  253
C              33   66.0  99       333  651.0  969

In [31]:
# Bizim Yazdigimiz Istatistik Ifadesi Tum Degiskenlere Degilde Belli Degiskenlere Uygulanmasini Istersek;

df.groupby("gruplar").aggregate({"degisken1": "min", "degisken2": "max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

In [32]:
# -- FILTER --

df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [33]:
def filter_func(x): # Kendi Isteklerimiz Dogrultusunda Fonksiyon Yaziyoruz ( Bulmak Istedigimiz Istetistiği Kendimiz Yaziyoruz )
    return x["degisken1"].std() > 9

In [34]:
df.groupby("gruplar").std() # Gruplandirdigimiz Ifadelerin Standart Sapmasini Aldik

         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [35]:
df.groupby("gruplar").filter(filter_func) # Yazdigimiz Fonksiyonu Kullanarak Standart Sapmasi 9 Dan Buyuk Olanlari Filtreledik

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

In [36]:
# -- Transform --

df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [37]:
df["degisken1"] * 9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

In [38]:
df_a = df.iloc[:,1:3]

In [39]:
# Lambda Fonksiyonlar : Bir Fonksiyon Isimlendirmesi Yapmadan Fonksiyon Olusturmaya Yariyor.

# Transform Yapisi Ile Kullanilmaktadir

df_a.transform(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

In [40]:
# -- apply --

df = pd.DataFrame({
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['degisken1', 'degisken2'])
df

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

In [41]:
df.sum()

degisken1     198
degisken2    2028
dtype: int64

In [42]:
df.apply(np.sum)

degisken1     198
degisken2    2028
dtype: int64

In [43]:
df.apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [44]:
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [45]:
df.groupby("gruplar").apply(np.sum) # Gruplar Bazinda

        gruplar  degisken1  degisken2
gruplar
A            AA         32        362
B            BB         34        364
C            CC        132       1302

In [46]:
df.groupby("gruplar").apply(np.mean)

/opt/conda/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

In [47]:
# -- Pivot Tablolar -- ( groupby Ifadesinin Cok Boyutlu Hali Olarak Dusunulebilir )

In [48]:
# Farkli Veri Seti Import Ettik

titanic = pd.read_csv("../input/seaborn-practice/titanic.csv")

In [49]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [50]:
titanic.groupby("sex")["survived"].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [51]:
titanic.groupby("sex")[["survived"]].mean() # ["survived"]   ------>>  [["survived"]]    Yaptik Bu Sekilde Gozuktu

        survived
sex
female  0.742038
male    0.188908

In [52]:
titanic.groupby(["sex", "class"])[["survived"]].aggregate("mean").unstack() # Bu Ifade Iki Boyutludur

# x Ekseninde Cinsiyet, y ekseninde class Katagorik Degiskenlerini Siniflarina Gore Bolup Kesisimlerini Gosterdik

        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [53]:
# Yukaridaki Ifadenin Bir Baska Gosterimidir, Bu Ifade Cok Boyutlar Eklendiginde Karmasiklasir
# Bu Yuzden Yukaridaki Kullanim Daha Iyidir.

titanic.groupby(["sex", "class"])[["survived"]].aggregate("mean")

               survived
sex    class
female First   0.968085
       Second  0.921053
       Third   0.500000
male   First   0.368852
       Second  0.157407
       Third   0.135447

In [54]:
# Simdi Yukarida Cok Kalabalik Ifadeleri Yazmaya Gerek Kalmadan Bir Fonksiyon Yardimi Ile Isi Cozucez

titanic.pivot_table("survived", index = "sex", columns = "class")

# Bu Ifadede Index Olarak Girdigimiz Yer "Satir" Olarak, Columns Olarak Girdigimiz Yer "Sutun" Olarak Ifade Edilir

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [55]:
# BURADA ISLER KARMASIKLADIYO   -- !! DIKKAT !! --

In [56]:
titanic.head() # Kolaylik Olsun Diye Koydum ( Data-Set'imizi Gorelim Diye )

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [57]:
titanic.age.head() # Titanic Data-Seti'indeki "age" Degiskenini Listeledik

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

# Burasi Cok Onemli (Dikkat)

In [58]:
# !! Soo Important !!

age = pd.cut(titanic["age"], [0, 18, 90])

# "titanic" Ifadesindeki "age" Adli Degiskeni Bol, Sonra
# ( Neye Gore Bolmek Istersin ? {diye sorulur} ) Sonra
# Verilen Araliklara Gore Bol Deriz yani ----->> [0, 18, 90]

# !! Soo Important !!

# Surekli Olan age Degiskenini Katagorik Bir Degiskene Donusturduk Ve Uc Tane Sinifi Var Bu Degiskenin

age.head(10)

0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7     (0.0, 18.0]
8    (18.0, 90.0]
9     (0.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64, right]): [(0, 18] < (18, 90]]

In [59]:
# Burada Bu Ifadeye Yeni Bir Boyut Kazandirdik, Artik "age" Adli Degisken Boyut Aldi

titanic.pivot_table("survived", ["sex", age], "class")

# age Adli Degiskeni Artik Biz Data-Set Icerisindeki Ifadeyi Degil de Kendimizin Olusturdugu (Bir Usste Bulunan) Boyutsal Halini Aldik ( Yani Disaridan Aldik )
# Bu Yuzden age Ifadesi Tirnak Icerisinde Degildir fakat "sex" Degiskeni Data-Set Icerisinden Alindigi Icin Tirnak Icerisinde Olmasi Lazim

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 90]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 90]  0.375000  0.071429  0.133663